{{define "main"}}
<!--
OK, let's do some actual fucking design. So what we want is

---
Sticky header
LOGO          LINKS
--------
big-ass jumbotron
GAMES   FUCK   GAMES
GAMES   ART    GAMES
GAMES   LETS   GAMES
GAMES   KILL   GAMES
----------
^^possibly with overlay text, possibly not          
EXPLN   ||| IMG

---
News items (latest blogs tagged with "news", that have a cover image)
IMG | title
IMG | intro

title | IMG
intro | IMG

IMG | title
IMG | intro

---
BIG OL' FOOTER



-->
<header class="megaheader home-image">

</header>

<section class="container">
    <section class="row">
        <div class="col-md-8 block"><p>{{.Content}}</p>
            <h2>Recent releases</h2>
        
            {{range first 3 (where .Site.Pages "Section" "games")}}
            
            <section class="recent">
                <header>
                    <time datetime='{{.Date.Format "2001-01-01"}}'>
                        <span class="day">{{.Date.Day}}</span>
                        <span class="month">{{.Date.Format "Jan"}} {{.Date.Year}}</span>
                    </time>
                </header>
                <a href="{{.Permalink}}"><h3>{{.Title}}</h3></a>
            </section>
            {{end}}

            <h2>Recent posts</h2>

                {{range first 3 (where .Site.Pages "Section" "blog")}}
            
                <section class="recent">
                        <header>
                        <time datetime='{{.Date.Format "2001-01-01"}}'>
                            <span class="day">{{.Date.Day}}</span>
                            <span class="month">{{.Date.Format "Jan"}} {{.Date.Year}}</span>
                        </time>
                    </header>
                    <a href="{{.Permalink}}"><h3>{{.Title}}</h3></a>
                </section>
                
                {{end}}

            </div>
        <div class="col-md-4 text-center"><img src='{{ "img/beerandgames.png" | absURL}}'></div>
    </section>
</section>
{{end}}